
.form-login{
  @include pxRem (width, 500);
  @include pxRem (border-radius, 10);
  @include pxRem (padding, 30);
  text-align: center;
  margin: 0 auto;
  border: 2px solid map-get($colors, primary-bg);
  .login-title{
    @include pxRem (margin-bottom, 20);
    color: map-get($colors, primary-bg);
  }
}
